@import '../assets/variables';
@import '../components/reset';
@import '../components/logo';
@import '../components/navbar';
@import '../components/style';
@import '../layouts/l-content-aside';
@import "../components/modal";
@import '../components/forms/form';
@import "../components/btn";
.btn {
    background-color: $primary-color;
    margin-top: 50px;
}

.main-grupo {
    background-color: $background-color;
    border-top: 2px solid $border-color;
}

.lateral-grupo {
    padding: 25px;
    border-radius: 0px 0px 4px 0px;
    background-color: white;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.conteudo-grupo {
    padding: 25px;
}

.cabecalhoperfil {
    background-color: white;
    border: 1px solid $border-color;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.pesquisar-grupos {
    background-color: white;
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.image-circle-grupo {
    background-color: white;
    border: 4px solid rgb(247, 248, 248);
    height: 50px;
    overflow: hidden;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

.pessoas-grupos {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: -8px;
    background-color: white;
}

.membros-grupos {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: -8px;
    background-color: white;
}

.notgrupo {
    text-align: center;
}

.img-notgrupo {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.perfil-gropoimg {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}

.icone-alterar,
.icone-deletar {
    size: 7x;
    margin-left: 40px;
}

.group-wrapper {
    display: flex;
}

.group-content {
    display: flex;
}

.image-grupo {
    height: 45px;
    width: 45px;
}

.convidar {
    margin-left: 20px;
}

.group-profile-buttons .buttons {
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
    padding: 7px 10px 7px 10px;
}

.organizar-button {
    width: 100px;
}

.organizar-button a,
.organizar-button button {
    float: right;
}

.margin-usuarios {
    margin-left: 150px;
}

.menu-grupos a,
.pensando-grupo a {
    color: $primary-color;
    padding: 10px;
    font-weight: bold;
}

.menu-grupos a:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.pensando-grupo a:hover {
    color: rgb(34, 48, 61);
}

.pensando-grupo {
    flex: 55%;
    border-radius: 10px;
    padding: 5px;
}

.sobre-grupo {
    flex: 35%;
    margin-left: 10px;
}

.sobre-grupo .hazul {
    margin-top: 15px;
}

.texto-sobre-grupos {
    margin-left: 10px;
}

.membros {
    background-color: white;
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 4px;
}

.informacao-grupo {
    background-color: white;
    border: 1px solid $border-color;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.buttons:hover {
    background-color: rgb(34, 48, 61);
}

.icone-coruja-triste {
    display: flex;
    align-items: center;
}

.descricao-membros {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.organizar-button button {
    background-color: white;
    border: none;
}

.box-post img {
    height: 20em;
    width: 100%;
    opacity: 0.2;
    background-color: rgb(199, 199, 199);
    margin-bottom: 10px;
}

.box-post {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $border-color;
    padding: 15px;
}