@import '../assets/variables';
@import '../components/reset';
@import "../components/navbar";
@import '../components/logo';
@import '../components/style';
@import '../components/search-bar';
@import '../components/forms/form';
@import '../layouts/l-content-aside';
@import "../components/btn";
@import "../components/modal";
@import '../assets/utils/container';

body {
    background-color: $background-color;
}

.home-adicionar-interesse {
    background-color: #fff;
    padding: 1em;
    margin-top: 2rem;
    margin-top: 1rem;
    @include basicBorderBox;
    &__fields {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 21px;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 14px;
        margin-bottom: 1.8em;
    }
}

.grupospessoais {
    padding-top: 20px;
}

.home-interesse-form-group {
    flex: 1 1 220px;
    align-self: flex-end;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

aside {
    padding: 10px;
    background-color: $background-color;
}

.box-aside {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid $border-color;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.online img {
    width: 9px;
    height: 9px;
    margin-right: 5px;
}

.online {
    margin-bottom: 10px;
    color: rgb(56, 56, 56);
    font-weight: 600;
}

.pessoas-online img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $border-color;
    margin-right: 10px;
}

.pessoas-online {
    padding: 7px;
    display: table;
    position: relative;
}

.pessoas-online a {
    color: rgb(56, 56, 56);
    font-weight: 600;
    vertical-align: middle;
    display: table-cell;
}

.post img {
    width: 12px;
    height: 15px;
    margin-right: 5px;
}

.post {
    color: rgb(56, 56, 56);
    font-weight: 600;
    margin-bottom: 10px;
}

.box-post {
    margin-bottom: 10px;
}

.box-post img {
    height: 120px;
    width: 100%;
    background-color: rgb(199, 199, 199);
    opacity: 0.1;
}

.chat {
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.box-post p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

.button-chat {
    color: $primary-color;
    background-color: #fff;
    border: 1px solid $border-color;
    margin-bottom: -10px;
    padding: 7px 150px 7px 10px;
    border-radius: 4px 4px 0px 0px;
}

.button-chatCompleto {
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
    padding: 7px 10px 7px 10px;
}

.button-chatCompleto img {
    margin-bottom: -5px;
}

.participoimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid $border-color;
}

.gruposparticipo {
    background-color: white;
    border: 1px solid $border-color;
    padding: 20px;
    margin-bottom: 20px;
}

.gruposparticipo .participoimg {
    display: inline-flex;
    float: left;
    margin-right: 15px;
}

.gruposparticipo h1 {
    display: inline;
}

.gruposparticipo p {
    position: relative;
    top: 5px;
}

.gruposparticipo .btn--primary {
    position: relative;
    margin-right: 20px;
    top: 15px;
}

.notgrupo {
    background-color: #fff;
    border: 1px solid $border-color;
    padding: 20px;
    text-align: center;
}

.notgrupo img {
    width: 50px;
    height: 50px;
}

@media(max-width: 800px) {
    aside {
        display: none;
    }
}

.btn--primary img {
    margin-bottom: -5px;
    margin-right: 5px;
    height: 21px;
    width: 21px;
}

.btn--primary {
    margin-bottom: 10px;
}

.btmbig {
    margin-right: 30px;
    margin-left: 30px;
    width: 15rem;
}
