@import '../components/reset';
@import '../components/logo';
@import '../components/style';
@import '../components/form';
@import '../components/btn';
@import '../components/navbar';
@import '../assets/variables';
body {
    background-color: #F9F9F9;
}

.interesses-cadastrados {
    width: 65%;
    padding-top: 20px;
}

.editar {
    border: 1px solid rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    width: 320px;
}

.button-excluir {
    background-color: white;
    border: none;
    position: relative;
    display: block;
    float: right;
    margin-right: 10px;
}

.editar p {
    margin-bottom: 10px;
    display: inline-flex;
}

.editar img {
    position: relative;
    display: block;
    float: right;
}

.interesses-cadastrados h2 {
    color: #0b0b31;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.interesses-cadastrados h3 {
    color: #0b0b31;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    text-transform: capitalize;
}

.information {
    margin-top: 25px;
    border: 2px solid rgb(235, 235, 235);
    width: 320px;
    height: 100%;
    border-radius: 7px;
    background-color: white;
}

.information ul {
    border-radius: 0px;
}

.information h5 {
    color: $primary-color;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

ul .list-group-item {
    border: none;
}

.list-group-item a {
    color: #2C3E50;
}

.list-group-item a:hover {
    text-decoration: none;
    color: rgb(34, 47, 61);
    font-weight: 500;
}

.fundo-perfil {
    padding-top: 50px;
}

.form-perfil {
    margin-top: 25px;
    padding: 50px 40px 20px 40px;
    border: 1px solid rgb(235, 235, 235);
}

.img-redefinirsenha {
    display: block;
    float: right;
    height: 200px;
    width: 200px;
}

.alert {
    font-size: 25px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.dadospessoais {
    background-color: #F9F9F9;
    padding: 20px;
    border: 1px solid $border-color;
    margin: 20px;
}

.dadospessoais p {
    margin-bottom: 10px;
}

.botaowhite {
    border: 1px solid rgb(235, 235, 235);
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    box-shadow: 2px 2px 0 rgb(224, 224, 224);
}

.botaowhite:hover {
    background-color: rgb(247, 247, 247);
}