@import '../assets/variables';
@import '../components/reset';
@import "../components/navbar";
@import '../components/logo';
@import '../components/style';
@import '../components/search-bar';
@import '../components/forms/form';
@import '../layouts/l-content-aside';
@import "../components/btn";
@import "../components/modal";
@import '../components/form';
@import '../assets/utils/container';

body {
    background-color: #F9F9F9;
}

.perfil-layout
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;

    &__aside {
        padding: 25px 15px 15px 15px;
        @include basicBorderBox;
        min-width: 320px;
        background-color: white;
        @media (min-width: $mobile-screen) {
            margin-right: 20px;
        }
        .user-information {
            text-align: center;
        }
        ul {
            border-radius: 0px;
        }
        
        h5 {
            color: $primary-color;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: 25px;
        }

        .form-perfil {
            margin-top: 25px;
            padding: 50px 40px 20px 40px;
            border: 1px solid rgb(235, 235, 235);
        }
        
        .data-list-edit {
            background-color: $background-color;
            padding: 20px 10px;
            @include basicBorderBox;
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__data > li:not(:last-child) {
                margin-bottom: 12px;
            }
            a {
                position: relative;
            }
        }

        .buttonadicionar {
            position: relative;
            float: right;
            padding: 12px;
            width: 100px;
            right: 10px;
        }

        .rpassaword {
            @extend .btn--primary;
            color: white;
            display: block;
            text-align: center;
            .left-button-icon
            {
                color: white;
                vertical-align: middle;
            }
        }
    }
}

.interesses-cadastrados {
    width: 65%;
    padding-top: 20px;
}

.editar {
    border: 1px solid rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    width: 320px;
}

.button-excluir {
    background-color: white;
    border: none;
    position: relative;
    display: block;
    float: right;
    margin-right: 10px;
}

.editar p {
    margin-bottom: 10px;
    display: inline-flex;
}

.editar img {
    position: relative;
    display: block;
    float: right;
}

.interesses-cadastrados h2 {
    color: #0b0b31;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 15px 0px 10px 0px;
    text-align: left;
}

.interesses-cadastrados h3 {
    color: #0b0b31;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    text-transform: capitalize;
}



ul .list-group-item {
    border: none;
}

.list-group-item a {
    color: #2C3E50;
}

.list-group-item a:hover {
    text-decoration: none;
    color: rgb(34, 47, 61);
    font-weight: 500;
}



.img-redefinirsenha {
    display: block;
    float: right;
    height: 200px;
    width: 200px;
}

.alert {
    font-size: 22px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.toggle {
    text-decoration: none;
}
