@import '../assets/variables';
@import '../components/reset';
@import '../components/logo';
@import '../components/navbar';
@import '../components/style';
@import "../components/modal";
@import '../components/forms/form';
@import "../components/btn";
.perfiluser {
    background-color: $background-color;
    padding: 20px 50px 0px 50px;
}

.divisaoperfil {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 20px;
}

.image-perfil {
    background-color: white;
    border: 4px solid rgb(247, 248, 248);
    height: 170px;
    overflow: hidden;
    width: 170px;
    border-radius: 50%;
}

.infototal p {
    position: relative;
    display: inline;
}

.infototal {
    text-align: right;
}

.image-perfil,
.infoperfil {
    display: inline-block;
}

.infoperfil {
    position: relative;
    left: 20px;
    width: 70%;
    padding: 10px;
    vertical-align: top;
}

.paragrafos {
    padding-bottom: 20px;
}

.infoperfil h1 {
    padding-bottom: 20px;
}

.iconesamigoscomum {
    display: inline-block;
    position: relative;
    margin-top: 20px;
}

.amigoscomum {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid $border-color;
    position: relative;
}

.descricao-membros {
    margin-bottom: 20px;
}

.brevegrupo {
    margin-bottom: 20px;
}

.brevegrupo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid $border-color;
}

.brevegrupo img,
.brevegrupo h1 {
    display: inline;
}

.brevegrupo h1 {
    position: relative;
    bottom: 20px;
}

.divisaoperfil a img {
    height: 20px;
    width: 20px;
}