@import '../assets/variables';
@import '../components/reset';
@import '../components/logo';
@import '../components/style';
.navbar__home {
    position: fixed;
    padding: 10px calc(8%/2);
    display: inline-flex;
    width: 100%;
}

.top-right {
    padding: 20px;
    right: 10px;
    position: absolute;
}

.content {
    height: 100vh;
    text-align: center;
    background-image: url("../img/telaInicio.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.title {
    font-size: 2.2rem;
    color: #ffffff;
    font-weight: bold;
}

.links>a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    position: relative;
}

.botaoinicio {
    background-color: #09182c;
    padding: 14px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 600;
}

.botaoinicio:hover {
    background-color: #071324;
}

.botaosaiba {
    border: 2px solid #ffffff;
    padding: 12px;
    width: 17em;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 7px;
}

.botaosaiba:hover {
    background-color: #213c5f;
}

.homebutton {
    padding-top: 25px;
    display: grid;
    width: 100%;
    position: absolute;
    justify-content: center;
}

.conteudo-home {
    text-align: center;
    position: absolute;
    justify-content: right;
    right: calc(8%/2);
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

@media(max-width: 1100px) {
    .content {
        background-image: url("../img/telaLampamin.svg");
        background-position: center;
    }
    .conteudo-home {
        padding: 10px;
        position: absolute;
        justify-content: center;
        align-items: center;
        right: 0;
        top: calc(110%/2);
        left: 0;
        padding-left: 20px;
    }
}

.footer-inicial {
    background-image: url("../img/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    width: 100%;
    color: #ffffff;
}

.conteudofooter {
    position: relative;
    top: 30%;
    background-color: rgb(202, 16, 219);
}

.leftfooter {
    background-color: red;
    width: 40%;
}

.alinha {
    display: inline-block;
    padding: 20px;
}

.leftfooter p {
    margin-top: 20px;
    text-align: justify;
}

.menufooter {
    width: 20%;
    background-color: #ffff00;
}

.linkconstatos {
    width: 35%;
    background-color: green;
}

.copyright {
    background-color: blue;
}