.search-bar {
    border-top: 6px solid #2C3E50;
    background-color: #2C3E50;
    display: block;
    position: relative;
}

.search-bar .container {
    margin: 0 calc(8%/2);
}

.search-bar__trigger {
    position: absolute;
    width: 35px;
    height: 30px;
    display: inline-block;
    border-radius: 0 0 50% 50%;
    left: 70px;
    bottom: -30px;
    background-color: #2C3E50;
    text-align: center;
    cursor: pointer;
}

.search-bar-icon {
    color: #fff;
    font-size: 22px;
    transform: translateY(5%);
}

.search-bar__form {
    opacity: 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height .5s, padding .5s, opacity .2s;
}

.search-bar__form--active {
    opacity: 1;
    height: 35px;
    padding: 12px 0 15px;
    transition: height .5s, padding .5s, opacity .2s .2s;
}

.search-bar__form label {
    color: white;
    font-size: 1.4em;
    font-family: 'Nunito', sans-serif;
    margin-right: 20px;
}

.search-bar__form input {
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    font-size: 1em;
    flex: 0 1 350px;
    box-sizing: border-box;
}

.search-bar__form button {
    border: none;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 0 5px 5px 0;
    padding: 8px;
    font-size: 1em;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    background-color: rgb(57, 151, 245);
    flex: 0 1 120px;
    transition: background-color .2s;
    box-sizing: border-box;
}

.search-bar__form button:hover {
    background-color: rgb(46, 120, 194);
}

@media(max-width: 740px) {
    .search-bar__trigger {
        left: 30px;
    }
    .search-bar__label {
        display: none;
    }
}