.register-section,
.creategroup-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 20px 0 20px;
    padding: 0 calc((100% - 1200px)/2);
}

.register-section__item,
.creategroup-section__item {
    flex: 1 1 0;
}

.welcome-info,
.welcome-sub-info,
.creategroup-info {
    flex: 1 1 0;
}

.welcome-info,
.welcome-sub-info {
    text-align: center;
    color: #0b0b31;
    display: block;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.welcome-info {
    font-size: 1.5em;
    margin-top: -20px;
    margin-bottom: 1em;
}

.welcome-sub-info {
    font-size: 1.17em;
    margin-bottom: 1em;
}

.social-login {
    display: flex;
    flex-wrap: wrap;
}

.submit-f {
    text-align: center;
    flex: 1 1 200px;
    color: #fff;
    background-color: #3b5998;
    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 60px;
    font-weight: 700;
    display: block;
}

.submit-g {
    flex: 1 1 200px;
    text-align: center;
    color: #0b0b31;
    display: block;
    background-color: #eae3e3;
    border: 2px solid #fff;
    padding: 10px 10px;
    border-radius: 60px;
    font-weight: 700;
}

hr {
    margin: 2em 0;
}

.coruja,
.grupodeestudos {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.estudos {
    width: 100%;
    display: block;
}

@media(max-width: 740px) {
    .coruja {
        display: none;
    }
    .estudos {
        display: none;
    }
    .register-section {
        display: block;
        margin-top: 2em;
    }
    .grupodeestudos {
        display: none;
    }
}

.categoria {
    padding: 20px;
    border: 2px solid gray;
}

.modal-title {
    color: black;
}

.image-circle {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid rgb(204, 204, 204);
}

.position-right {
    width: 65%;
    float: right;
    margin-top: 80px;
}

.position-left {
    position: relative;
    display: block;
    float: left;
}

.mostrarsenha {
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    top: -30px;
    margin-right: 10px;
    opacity: 0.3;
}

.center {
    display: block;
    text-align: center;
    margin-top: -20px;
}

.right {
    position: relative;
    display: block;
    float: right;
}

.negrito {
    margin-right: 20px;
    font-weight: bold;
    color: #0b0b31;
}

.top {
    margin-top: 10px;
}

.imagemgrupo img {
    height: 60px;
    width: 60px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 50%;
}

.grupo {
    margin-top: 30px;
}

.editar {
    border: 1px solid rgb(235, 235, 235);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.editar img {
    position: relative;
    display: block;
    float: right;
    opacity: 0.6;
}

.editar h4 {
    margin-top: -35px;
    margin-bottom: 20px;
}

.icones {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 24px;
}

.icones img {
    opacity: 0.2;
}

input[type="file"] {
    display: none;
}

.label-bordered {
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.label-bordered:hover {
    background-color: rgb(247, 247, 247);
}